.price {

    background: url(/images/price/background-image.png) 0 0/cover no-repeat;

    padding:300px 0px 100px 0px;
    
    &__title {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #8794BA;
        margin-bottom: 80px;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        border-radius: 30px;
        width: 340px;
        height: 440px;
        box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
        background: #0f1f4b;
        justify-content: center;
    }

    &__column-texts {
        border-bottom: 1px solid #2a407c;
        width: 220px;
        margin: 0px auto;
    }

    &__column-title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #fff;
        margin: 50px auto 10px auto;
    }

    &__users {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #8794BA;
        margin-bottom: 37px;
    }

    &__price {
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        color: #fff;
        margin-top: 28px;
    }

    &__price span {
        font-size: 30px;
    }

    &__per-month {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #8794BA;
        margin-bottom: 40px;
    }

    &__button {
        cursor: pointer;
        border: 1px solid #2a407c;
        border-radius: 68px;
        padding: 15px 80px 10px 80px;
        width: 200px;
        height: 50px;
        margin: 0px auto;
        text-align: center;
        transition: all 0.2s linear;
    }

    &__button:hover {
        background-color: #2a407c;
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

    &__column-middle {
        border-radius: 30px;
        width: 340px;
        height: 440px;
        box-shadow: 0 18px 50px -15px #060f28;
        background: #fff;
    }

    &__column-texts-middle {
        border-bottom: 1px solid #D3D9E9;
        width: 220px;
        margin: 0px auto;
    }

    &__column-title-middle {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #172755;
        margin: 50px auto 10px auto;

    }

    &__price-middle {
        font-weight: 700;
        font-size: 60px;
        text-align: center;
        color: #172755;
        margin-top: 28px;
    }

    &__button-middle {
        cursor: pointer;
        border-radius: 68px;
        width: 206px;
        height: 50px;
        background-color: #EF2A82;
        border: 1px solid #EF2A82;
        transition: all 0.2s linear;
    }

    &__button-middle:hover {
        background-color: #a8004c;
    }
}

/* ============================================================================== */

@media (max-width: 1250px) {
    .price {

        padding: 200px 0px 20px 0px;

        &__container {
            margin-top: 150px;
        }
        &__columns {
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {
    .price {
        &__container {
            margin-top: 235px;
        }

        &__text {
            margin-bottom: 50px;
        }

        &__columns {
            gap: 40px;
        }
    }
}

@media (max-width: 528px) {
    .price {
        &__container {
            margin-top: 250px;
        }

        &__text {
            font-size: 16px;
        }
    }
}